<div class="mx-5 mt-4">
    <div class="flex justify-center">
        <div class="text-gray-800 dark:text-gray-100 text-xl italic tracking-wider">I have left my fingerprints at . . .</div>
    </div>

    <div class="flex flex-wrap justify-around">
        <div class="card">
            <div>Interns Portal</div>
            <div>
                Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.
            </div>
            <div>
                <div>Stack: Java, Angular, Bootstrap</div>
                <div>Impact: 2000 interns and employees every year</div>
            </div>
        </div>

        <div class="card">
            <div>Evaluation Engine</div>
            <div>
                Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.
            </div>
            <div>
                <div>Stack: Java, Angular, Bootstrap</div>
                <div>Impact: 2000 interns and employees every year</div>
            </div>
        </div>

        <div class="card">
            <div>Verification Tool</div>
            <div>
                Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line.
            </div>
            <div>
                <div>Stack: Java, Angular, Bootstrap</div>
                <div>Impact: 2000 interns and employees every year</div>
            </div>
        </div>

        <div class="card">
            <div>Verification Tool</div>
            <div>
                Podcasting operational change management inside of workflows to establish a framework. Taking seamless key performance indicators offline to maximise the long tail. Keeping your eye on the ball while performing a deep dive on the start-up mentality to derive convergence on cross-platform integration.
            </div>
            <div>
                <div>Stack: Java, Angular, Bootstrap</div>
                <div>Impact: 2000 interns and employees every year</div>
            </div>
        </div>
    </div>
</div>