<div class="w-full h-screen bg-gray-800 text-white">
  <div class="flex justify-between px-7 py-2">
    <div class="flex flex-col">
      <div class="font-bold text-lg tracking-widest">Fazil Ahamed K</div>
      <div class="text-sm">Full Stack Developer cum Technical Trainer</div>
    </div>

    <div class="flex">
      <div>Projects</div>
      <div class="mx-2 text-gray-400">/</div>
      <div>Technologies</div>
      <div class="mx-2 text-gray-400">/</div>
      <div>Resume</div>
    </div>
  </div>
</div>