<nav class="flex items-center justify-between px-5 pt-2 pb-1 bg-darkPurple text-glamourWhite dark:border-b dark:border-glamourWhite">
    <div routerLink="" class="font-bold text-lg tracking-wide cursor-pointer">FazilAhamedK</div>
    
    <div class="flex items-center space-x-8">
        <div class="flex divide-x divide-momoPeach navItems tracking-wide">
            <div routerLink="portfolio" class="cursor-pointer">Portfolio</div>
            <div routerLink="skills" class="hidden cursor-pointer">Skills</div>
        </div>

        <div class="hidden space-x-2">
            <img src="https://twemoji.maxcdn.com/v/latest/72x72/1f600.png" class="h-4 cursor-pointer" alt="A smile emoji">
            <img src="https://twemoji.maxcdn.com/v/latest/72x72/1f49c.png" class="h-4 cursor-pointer" alt="A purple heart emoji">
        </div>
    </div>
</nav>

<router-outlet></router-outlet>